



@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button1 a {
  text-decoration: none;
  color: #fff;
}

html, body { 
  background-color:#f5f5f5; 
  color: #343434;
  line-height: 1.6;  
  font-family: 'Exo 2', sans-serif;
}



/* Menu */
nav {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



nav .mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;

}

nav .mainMenu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #343434;
  font-size: 16px;
  font-weight: 600;
}

nav .mainMenu li a:hover{
  color: #F64E20;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 20px;

  
}

nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu{
  font-size: 2rem;
  display: none;
  cursor: pointer;
}



nav .logo h5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #FFEA28;
}


/* Header */
.hero {
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.hero_pic img {
  width: 90%;
  
}
.content {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  height: 80vh;

  
}

.hero_txt {
  text-align: left;
}

.content h1 {
  font-size: 60px;
  font-weight: 900;
  color: #343434; 
  text-align: center;
  
  
}

.content h2 {
  font-size: 45px;
  color: #343434;
  text-align: left;
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
}

.content h1 span {
  color: #F05024
}

/* .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 80%;
  padding: 0 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
} */

/* About me */
.about-me h1 {
  font-size: 60px;
  font-weight: 900;
  color: #343434; 
  margin-top: 50px;
 
}

.about-me h2 {
  margin-top: 35px;
  font-weight: 900;
  font-size: 35px;
  color: #343434;
}

.about-me ul {
  padding: 0;
  font-weight: 100;
  list-style-type: disc;
  margin:0;
  padding: 0;
  text-align: left;
  padding: 0 30px;
  color: #343434;
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
}

.education h2 {
  text-align: left;
  font-weight: 600;
  font-size: 35px;
  font-family: 'Exo 2', sans-serif;
}

.column .columns-2 {
  justify-content: center ;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  
  
  
}

.columns-1 p {
  font-weight: 100;
  color: #343434;
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
  
}

.columns-2 p {
  margin-top: 20px;
  font-style: italic;
  font-weight: 600;
  color: #343434;
  font-family: 'Exo 2', sans-serif;
}

.bg-dark{
  background-color: #F64E20;
  color: #f5f5f5;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

/* Services */
.discovery {
  text-align: center;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}

.research {
  text-align: center;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}
.design {
  text-align: center;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}


.services h1 {
  padding: 20px;
  margin-top: 40px;
  font-weight: 900;
  font-size: 60px;
  color: #Fff;
  text-align:center;
  font-family: 'Exo 2', sans-serif;
 
  
}

.icons h3 {
  font-weight: 600;
  color: #fff;
  text-align:center;
  margin: 10px;
  font-family: 'Exo 2', sans-serif;

}


/* Projects */
.box {
  cursor: pointer;
  background-color: #fff;
  border: #fff 10px solid;
  border-radius: 10px;
  box-sizing: border-box;
  height: 250px;
  margin-top: 22px;
  font-size: 20px;
  position: relative;
  z-index: 1; 
  transition: transform .2s;
 
}


/* 
.box::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343434;
  opacity: 0.7;
  border-radius: 10px;
  z-index: 1;
  transition: transform 500ms ease-in;
  color: #343434;

}

.box::after{
  transform: scaleX(0);
  transform-origin: right;
  
}

.box:hover::after {
  transform: scaleX(1);
  transform-origin: left;
 
  
} */

.box img {
  width: 100%;
  transition: transform .2s
}

.box img:hover {
  transform: scale(1.1);
}


.box-no-active {
  border-radius: 10px;
  box-sizing: border-box;
  height: 250px;
  margin-top: 22px;
  background-color: #f5f5f5;
  border: #fff 1px solid;
  color: #605E5E;
}

.projects h1 {
  margin-top: 50px;
  font-weight: 900;
  font-size: 60px;
  color: #343434;
  text-align:center;
  font-family: 'Exo 2', sans-serif;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.project img  {
  width: 70%;
  
}

.project h3 {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Exo 2', sans-serif;
  color: #Fff;
  text-align: center;
  z-index: 1;
}
 
  .project p {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    color: #Fff;
    text-align: center;
    z-index: 1;
  
}

/* Contact */
.mail {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  
}

.call {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
}

.fab {
  color: #343434;
  padding: 15px;
}

.red {
  color: #343434;
}

.fab:hover{
  color: #F64E20;
  cursor: pointer;
}

.contact-icons ul li {
  list-style: none;
  margin:0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

.contact-icons ul{
  padding-left: 0;
  margin-top: 50px;
  font-family: 'Exo 2', sans-serif;
  }
   
  .call h4 {
      margin-left: 10px;
      color: #343434;
      font-family: 'Exo 2', sans-serif;
  }
  
  .mail h4 {
      margin-left: 10px;
      color: #343434;
      font-family: 'Exo 2', sans-serif;
  }
  
  .fa-phone {
      color:#F64E20;
  }
  
  .fa-envelope {
      color:#F64E20;
  }
  
  .columns-1 h1 {
      font-size: 60px;
      font-weight: 900;
      color: #343434;
      font-family: 'Exo 2', sans-serif;
  }

  .contact-me img {
    width: 70%;
  }

  .fa-search {
    color: #fff;
  }


.fas {
  padding: 10px;
  text-align: center;
  color: #343434;
}

.far {
  color: #343434;
}


 




 
  /* Gallery94 */

  html body {
    background-color: #f8f8f8;
    color: #343434;
    line-height: 1.6;  
    font-family: 'Exo 2', sans-serif;
  }

.hero_txt h3{
  color: #7D5B48;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: left;

}


.gallery94 img {
  display: flex;
  justify-content: center;
  align-items: center;
margin: auto;
}

.hero_txt h3 span{
color:#343434;
font-weight: 500;
}

.project_hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    height: 100vh;
  
    
  }

  .project_hero img {
    width: 60%;
  }


  .about_project h1 {
    font-size: 60px;
      font-weight: 900;
     color: #7D5B48;
      margin-top: 50px;
    
  }

  .about_project h3 {
    font-weight: 900
  }

  .bg-gallery{
    background-color: #7D5B48;
    color: #f5f5f5;
    /* clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%); */
  }


  .competetive_analysis h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 30px;
    

  }

  .competetive_analysis p {
    font-size: 16px;
    font-weight: 600;
    margin:50px 0;

  
  }

  .competetive_analysis img{
    display: block;
    margin: auto;
    height: inherit;
    width: inherit;
    border-radius: 10px;

  }

  
.personi img {
  width: 30%;
}
  .user_persona h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    

  }

  .user_persona p {
    font-size: 16px;
    font-weight: 600;
    margin:20px 0;

  
  }

  .competetive_analysis img{
    display: block;
    margin: auto;
    height: 10%;

  }
  
  .personi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .personi img {
    width: 50%;
    margin-left: 20px;
  }

  .user_flow img {
    width: 100%;
    margin: 0;
    border-radius: 10px;
  }

  .user_flow h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    

  }

  .user_flow p {
    font-size: 16px;
    font-weight: 600;
    margin:20px 0;

  
  }

  .wireframe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .wireframe img{
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
  }

  .wireframes_desktop h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;

  }

  .wireframes_mobile h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    text-align: center;

  }


  .wireframe_mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .wireframe_mobile img {
    width: 20%;
    margin-top: 30px;
  }



  .style-guide img {
    width: 15%;

  }
  .style_guide h1 {
    font-size: 60px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;

  }

  .style-guide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ui_mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 

  .ui_desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ui_desktop img {
    margin-top: 50px;
  }
  
































































































































































@media(max-width: 800px){
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    transition: top 1s ease;
    display: none;
    padding: 0;
    color: #343434;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover{
    background: none;
    color: #F64E20;
    font-size: 1.6rem;
  }

  .hero_txt h3{
    color: #7D5B48;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
  
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    height: 85vh;
  }

  .hero_pic img {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
  }
  
  .content h1 {
    font-size: 40px;
    text-align: center;
  }

  .content h2 {
    font-size: 25px;
    text-align: center;
    color: #343434;
    font-weight: 700;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .flex-columns .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.flex-columns .column {
  display: flex;
  flex-direction: column!important;
  flex-basis: 100%;
  flex: auto!important;
  justify-content: center;
  align-items: start;
}


  .projects h1{
    font-size: 40px;
  }
  

  .row .column {
    flex-direction: column;
  }

  .flex-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }

  .flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    flex-direction: column;
}


  .about-me h1 {
    font-size: 40px;
  }

  
  


  .columns-2 img{
     display: block;
     margin: auto;

   }

   .column .columns-2 {
     margin-bottom: 50px;
   }

   .columns-1 h1{
     text-align:left;
     font-size: 40px;
   }

   .columns-1 p {
    font-weight: 500;
    color: #343434;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    text-align: left;
}


  .contact-me {
    text-align: center;

  }

  .contact-icons ul li {
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .mail {
    justify-content: start;
    align-items: center;
    text-align: left;
}

.call {
  justify-content: start !important;
  align-items: center;
  text-align: left;
}



  .call {
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  /* Gallery94 */

  .project_hero img {
    width: 90%;
  }
  .project_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    height: 90vh;

  }

  .user_flow h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
}

  .services h1 {
    padding: 20px;
    margin-top: 40px;
    font-weight: 900;
    font-size: 50px;
    color: #Fff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

  .competetive_analysis h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 30px;
}

  .personi {
    flex-direction: column;
  }

  .user_persona h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
}

  .personi img {
    width: 95%;
   margin: auto;
   padding-top: 20px;
   
  }

  .wireframe {
    flex-direction: column;
  }

  .wireframes_desktop h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
}



.wireframes_mobile h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    text-align: center;
}

  .wireframe img {
    display: block;
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
    
  }

  .style_guide h1 {
    font-size: 40px;
    font-weight: 900;
    color: #7D5B48;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

  .ui_mobile {
    flex-direction: column;
  }

  .ui_mobile img {
    width: 50%;
    margin-top: 20px;
  }

  .ui_desktop img{
    width: 100%;
  }


}



